<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>Curso JSF</title>
</h:head>
<h:body>

	<h:panelGrid columns="2">
		<div id="cabecalho">
			<h:graphicImage library="img" name="logo.png" width="200" />
		</div>

		<h:form  rendered="#{usuarioLogado != null}">
			<p:themeSwitcher id="basic" style="position:absolute; right:10px" value="#{temaBean.tema}">
				<f:selectItems value="#{temaBean.temas}" var="tema" 
				itemLabel="#{tema}" itemValue="#{tema}" />
				<f:ajax />
			</p:themeSwitcher>
		</h:form>
	</h:panelGrid>

	<h:form rendered="#{usuarioLogado != null}">
		<p:menuButton value="Menu">
			<p:menuitem value="Livros" action="livro?faces-redirect=true"
				icon="fa fa-fw fa-edit" />
			<p:menuitem value="Autores" action="autor?faces-redirect=true"
				icon="fa fa-fw fa-edit" />
				<p:menuitem value="Vendas" action="vendas?faces-redirect=true"
				icon="fa fa-fw fa-image" />
			<p:separator />
			<p:menuitem value="Logout" action="#{loginBean.deslogar}"
				icon="fa fa-fw fa-sign-out" />
		</p:menuButton>
	</h:form>

	<h1>
		<ui:insert name="titulo"></ui:insert>
	</h1>


	<div id="conteudo">
		<ui:insert name="conteudo"></ui:insert>
	</div>

	<div id="rodape">
		<h3>
			copyright 2012
			<ui:insert name="rodape"></ui:insert>
		</h3>
	</div>

</h:body>
</html>