<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


<ui:composition template="_template.xhtml">

	<!--  viewACtion sempre vai ser carregado na requisiçao  -->
	<f:metadata>
		<f:viewParam name="autorId" value="#{autorBean.autorId}" />
		<f:viewAction action="#{autorBean.carregaAutorPelaId}"
			if="#{param.autorId != null}" />
	</f:metadata>

	<ui:define name="titulo">Novo Autor</ui:define>
	<ui:define name="conteudo">
		<h:form id="formAutor">
			<p:messages id="messages"/>
			<p:fieldset legend="Dados do Autor">
				<h:panelGrid columns="3" id="dadosAutor">
					<p:outputLabel value="Nome:" for="nome" />
					<p:inputText id="nome" value="#{autorBean.autor.nome}"
						required="true" requiredMessage="nome e obrigatorio">
						<f:validateLength minimum="5" />
						<f:ajax event="blur" render="messageNome" />
					</p:inputText>

					<p:message for="nome" id="messageNome" />

					<p:outputLabel value="Email:" for="email" />
					<p:inputText id="email" value="#{autorBean.autor.email}" />

					<p:message for="email" id="messageEmail" />

					<p:commandButton value="Gravar" action="#{autorBean.gravar}"
						update="@form" process="@form" />
				</h:panelGrid>
			</p:fieldset>
		</h:form>
		<h:form>
			<p:dataList value="#{livroBean.autores}" var="autor" type="unordered"
				itemType="none" paginator="true" rows="10" styleClass="paginated">
				<f:facet name="header">Autores</f:facet>
				<p:commandButton icon="fa fa-fw fa-edit"
				update="@form :formAutor:dadosAutor" process="@form">
						<f:setPropertyActionListener value="#{autor}"
							target="#{autorBean.autor}" />
					</p:commandButton>
					<p:commandButton action="#{autorBean.remover(autor)}" update="@form formAutor:messages"
					icon="fa fa-fw fa-remove">
					</p:commandButton>
        		<h:outputText value="#{autor.id},#{autor.nome},#{autor.email}" style="display:inline-block"/>
			</p:dataList>
		</h:form>
	</ui:define>
</ui:composition>
</html>