<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="_template.xhtml">

	<f:metadata>
		<f:viewParam name="livroId" value="#{livroBean.livroId}" />
		<f:viewAction action="#{livroBean.carregaLivroPelaId}"
			if="#{param.livroId != null}" />
	</f:metadata>

	<ui:define name="titulo">Novo Livro</ui:define>
	<ui:define name="conteudo">
	 <p:growl id="growl" showDetail="true" autoUpdate="true" sticky="true"/>
		<h:form id="formNovoLivro">
			<p:messages id="messages" />
			<p:fieldset legend="Dados do Livro">
				<p:panelGrid columns="2">

					<p:outputLabel value="Titulo:" for="titulo" />
					<p:inputText id="titulo" value="#{livroBean.livro.titulo}"
						required="true" requiredMessage="titulo obrigatorio"
						validatorMessage="titulo nao pode ter mais de 40 caracteres">
						<f:validateLength maximum="40" />
						<f:ajax event="blur" render="messages" />
					</p:inputText>

					<p:outputLabel value="ISBN:" for="isbn" />
					<p:inputMask id="isbn" value="#{livroBean.livro.isbn}"
						validator="#{livroBean.comecaComDigitoUm}"
						mask="999-9-99-999999-9">
						<f:ajax event="blur" render="messages" />
					</p:inputMask>

					<p:outputLabel value="Preço:" for="preco" />
					<p:inputNumber id="preco" value="#{livroBean.livro.preco}"
						required="true" requiredMessage="preço obrigatorio" symbol=" $"
						symbolPosition="s" decimalSeparator=",">
						<f:validateDoubleRange minimum="1.0" maximum="1000.00" />
					</p:inputNumber>

					<p:outputLabel value="Data de Lançamento:" for="dataLancamento" />
					<p:calendar id="dataLancamento" pattern="dd/MM/yyyy"
						timeZone="America/Fortaleza"
						value="#{livroBean.livro.dataLancamento.time}">
					</p:calendar>
				</p:panelGrid>
			</p:fieldset>

			<p:fieldset legend="Dados do Autor">
				<p:panelGrid columns="4">
					<p:outputLabel value="Selectione autor:" for="autor" />
					<p:selectOneMenu value="#{livroBean.autorId}" id="autor">
						<f:selectItems value="#{livroBean.autores}" var="autor"
							itemLabel="#{autor.nome}" itemValue="#{autor.id}" />
					</p:selectOneMenu>
					<p:commandButton value="Gravar Autor"
						action="#{livroBean.gravarAutor}"
						 process="@this autor" update="tabelaAutor">
					</p:commandButton>
					<p:commandLink value="Cadastrar Autor"
						action="autor?faces-redirect=true" immediate="true" />
				</p:panelGrid>
				<p:dataTable value="#{livroBean.autoresDoLivro}" var="autor"
					id="tabelaAutor" emptyMessage="Sem autores cadastrados">
					<p:column>
						<h:outputText value="#{autor.nome}" />
					</p:column>
				</p:dataTable>
			</p:fieldset>
			<p:commandButton value="Gravar" action="#{livroBean.gravar}"
				update="@form :formTabelaLivros:tabelaLivros" process="@form" />
		</h:form>

		<h:form id="formTabelaLivros">
			<p:dataTable id="tabelaLivros" value="#{livroBean.livros}"
				var="livro" paginator="true" rows="5">
				<f:facet name="header">Livros</f:facet>
				<p:column sortBy="#{livro.titulo}">
					<f:facet name="header">Titulo</f:facet>
					<h:outputText value="#{livro.titulo}"  />
				</p:column>

				<p:column sortBy="#{livro.isbn}">
					<f:facet name="header">ISBN</f:facet>
					<h:outputText value="#{livro.isbn}" />
				</p:column>

				<p:column sortBy="#{livro.preco}">
					<f:facet name="header">Preço</f:facet>
					<h:outputText value="#{livro.preco}" />
				</p:column>

				<p:column sortBy="#{livro.dataLancamento}">
					<f:facet name="header">Data Lançamento </f:facet>
					<h:outputText value="#{livro.dataLancamento.time}">
						<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
							timeZone="America/Fortaleza" />
						<!--  default time zone system nao funfou no web.xml -->
					</h:outputText>
				</p:column>
				<p:column style="width:40px;text-align: center">
					<p:commandButton icon="fa fa-fw fa-edit" process="@this" update="@form :formNovoLivro">
						<f:setPropertyActionListener value="#{livro}"
							target="#{livroBean.livro}" />
					</p:commandButton>
				</p:column>
				<p:column style="width:40px;text-align: center">
					<p:commandButton icon="fa fa-fw fa-remove" action="#{livroBean.remover(livro)}"
						process="@this" update="@form :formNovoLivro:messages" />
				</p:column>
			</p:dataTable>
		</h:form>
	</ui:define>

	<ui:define name="rodape" />
</ui:composition>
</html>